.explore-section {
  margin-top: 8vh;
}

.explore_start {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10vh;
}

hr {
  width: 90%;
  color: rgba(255, 255, 255, 0.4);
}

.hr1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.Cards-section {
  display: flex;
  width: 85%;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
