.searchbar {
  width: 40%;
  padding: 10px 50px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: #010409;
  position: relative;
}

.searchbar input:focus {
  outline: none;
}

.searchbar::before {
  display: block;
  content: url("./../assets/search_Icon.svg");
  position: absolute;
  margin-left: -45px;
  margin-top: -8px;
  scale: 0.8;
}

.searchbar::after {
  position: absolute;
  right: 5px;
  content: url("./../assets/search.svg");
  margin-top: -14px;
  scale: 0.8;
  padding-left: 10px;
  padding-top: 5px;
  border-left: solid 1px #b8b8b8;
}
