@import url("https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto+Mono&display=swap");

.Slogan {
  color: white;
  width: 100vw;
  display: flex;
  margin-top: 80px;
  justify-content: center;
  /* align-items: center; */
}

.Slogan-mid {
  text-align: center;
  padding-top: 1vh;
  width: 60vw;
}

.search--inpt {
  background-color: #010409;
  border: none;
  width: 95%;
  font-size: 18px;
  color: #fff;
  font-family: Roboto Mono;
}

.Description {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 24px;
}

.Explore {
  display: flex;
  justify-content: center;
}

.Slogan1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 16.7%,
    rgba(6, 6, 6, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vh;
}

.Slogan2 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 16.7%,
    rgba(6, 6, 6, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5vh;
  font-size: 6vh;
}

.Slogan3 {
  font-family: Salsa;
  margin-bottom: 2vh;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
}

.Slogan4 {
  margin-top: 2vh;
  font-size: 2vh;
  font-family: "Rajdhani", sans-serif;
}
.explore-btn {
  width: 15vh;
  height: 5vh;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
